.root {
  min-width: 600px;
  padding-top: 30px;
}

.dateFields {
  display: flex;
  flex-direction: row;
}

.dateField {
  padding-left: 24px;
  padding-bottom: 18px;
}

.topSection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textFieldValue {
  width: 60px;
  text-align: right;
}

.webReservationField {
  display: flex;
  flex-direction: row;
}

.webReservationURLField {
  padding-left: 12px;
}
.Button {
  display: flex;
  justify-content: center;
}

.maintenanceIcon {
  position: absolute;
  top: -30px;
  left: 0;
}
