
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color:#F4E9E9;// #a7c0cd;
    border-radius: 25px;

    //box-shadow: 2px 2px 5px;
    justify-content: space-between;  
    display: flex;
}

.centertext {
    padding: 20px;
    margin: auto;
    width: 60%;
    float: right;
}


.header {
    padding: 20px;
    margin: auto;
    width: 60%;
}

.avatar {

    img{
        float: left;
        height: 200px;
        border-radius: 50%;
        border: 5px solid #c1b7b7;// #4b636e;
        
    }
}

.fields {
    display: inline-block;

}
