.columns {
  display:flex;
  flex-direction: column;
  text-align: center
}

.columnContent {
  display:flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: row;

}

.header {
  display:flex;
  justify-content:center;
}
